In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

## Problem Statement

- We are given four datasets containing the information of all matches played in world cup 2022.
- From the given data create a team of 11 best players across the tournament.

### Our execution plan

- we are given data into json file which is not arranged properly.
- our plan is to clean data in jupyter notebook using python and pandas.
- after cleaning data convert it into a csv file.
- import that file in Power BI.
- Create dashboard using Power BI.

#### Data cleaning and converting to csv file.
- We are given data into json file.
- we have to perform data cleaning over it using pandas.
- and convert data into csv file. 

#### Build dashboard using Power BI
- import those datasets into Power BI Desktop.
- perform required data cleaning over it.
- and build an interactive dashboard.

##### There are four datasets in our project
- 1. Match results dataset
- 2. Batting dataset
- 3. Bowling dataset
- 4. Players dataset

### Data Gathering

#### Match Results dataset

In [3]:
with open('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)
data

[{'matchSummary': [{'team1': 'Namibia',
    'team2': 'Sri Lanka',
    'winner': 'Namibia',
    'margin': '55 runs',
    'ground': 'Geelong',
    'matchDate': 'Oct 16, 2022',
    'scorecard': 'T20I # 1823'},
   {'team1': 'Netherlands',
    'team2': 'U.A.E.',
    'winner': 'Netherlands',
    'margin': '3 wickets',
    'ground': 'Geelong',
    'matchDate': 'Oct 16, 2022',
    'scorecard': 'T20I # 1825'},
   {'team1': 'Scotland',
    'team2': 'West Indies',
    'winner': 'Scotland',
    'margin': '42 runs',
    'ground': 'Hobart',
    'matchDate': 'Oct 17, 2022',
    'scorecard': 'T20I # 1826'},
   {'team1': 'Ireland',
    'team2': 'Zimbabwe',
    'winner': 'Zimbabwe',
    'margin': '31 runs',
    'ground': 'Hobart',
    'matchDate': 'Oct 17, 2022',
    'scorecard': 'T20I # 1828'},
   {'team1': 'Namibia',
    'team2': 'Netherlands',
    'winner': 'Netherlands',
    'margin': '5 wickets',
    'ground': 'Geelong',
    'matchDate': 'Oct 18, 2022',
    'scorecard': 'T20I # 1830'},
   {'team1': 'Sri Lanka',
    'team2': 'U.A.E.',
    'winner': 'Sri Lanka',
    'margin': '79 runs',
    'ground': 'Geelong',
    'matchDate': 'Oct 18, 2022',
    'scorecard': 'T20I # 1832'},
   {'team1': 'Ireland',
    'team2': 'Scotland',
    'winner': 'Ireland',
    'margin': '6 wickets',
    'ground': 'Hobart',
    'matchDate': 'Oct 19, 2022',
    'scorecard': 'T20I # 1833'},
   {'team1': 'West Indies',
    'team2': 'Zimbabwe',
    'winner': 'West Indies',
    'margin': '31 runs',
    'ground': 'Hobart',
    'matchDate': 'Oct 19, 2022',
    'scorecard': 'T20I # 1834'},
   {'team1': 'Netherlands',
    'team2': 'Sri Lanka',
    'winner': 'Sri Lanka',
    'margin': '16 runs',
    'ground': 'Geelong',
    'matchDate': 'Oct 20, 2022',
    'scorecard': 'T20I # 1835'},
   {'team1': 'Namibia',
    'team2': 'U.A.E.',
    'winner': 'U.A.E.',
    'margin': '7 runs',
    'ground': 'Geelong',
    'matchDate': 'Oct 20, 2022',
    'scorecard': 'T20I # 1836'},
   {'team1': 'Ireland',
    'team2': 'West Indies',
    'winner': 'Ireland',
    'margin': '9 wickets',
    'ground': 'Hobart',
    'matchDate': 'Oct 21, 2022',
    'scorecard': 'T20I # 1837'},
   {'team1': 'Scotland',
    'team2': 'Zimbabwe',
    'winner': 'Zimbabwe',
    'margin': '5 wickets',
    'ground': 'Hobart',
    'matchDate': 'Oct 21, 2022',
    'scorecard': 'T20I # 1838'},
   {'team1': 'Australia',
    'team2': 'New Zealand',
    'winner': 'New Zealand',
    'margin': '89 runs',
    'ground': 'Sydney',
    'matchDate': 'Oct 22, 2022',
    'scorecard': 'T20I # 1839'},
   {'team1': 'Afghanistan',
    'team2': 'England',
    'winner': 'England',
    'margin': '5 wickets',
    'ground': 'Perth',
    'matchDate': 'Oct 22, 2022',
    'scorecard': 'T20I # 1840'},
   {'team1': 'Ireland',
    'team2': 'Sri Lanka',
    'winner': 'Sri Lanka',
    'margin': '9 wickets',
    'ground': 'Hobart',
    'matchDate': 'Oct 23, 2022',
    'scorecard': 'T20I # 1841'},
   {'team1': 'India',
    'team2': 'Pakistan',
    'winner': 'India',
    'margin': '4 wickets',
    'ground': 'Melbourne',
    'matchDate': 'Oct 23, 2022',
    'scorecard': 'T20I # 1842'},
   {'team1': 'Bangladesh',
    'team2': 'Netherlands',
    'winner': 'Bangladesh',
    'margin': '9 runs',
    'ground': 'Hobart',
    'matchDate': 'Oct 24, 2022',
    'scorecard': 'T20I # 1843'},
   {'team1': 'South Africa',
    'team2': 'Zimbabwe',
    'winner': 'no result',
    'margin': '',
    'ground': 'Hobart',
    'matchDate': 'Oct 24, 2022',
    'scorecard': 'T20I # 1844'},
   {'team1': 'Australia',
    'team2': 'Sri Lanka',
    'winner': 'Australia',
    'margin': '7 wickets',
    'ground': 'Perth',
    'matchDate': 'Oct 25, 2022',
    'scorecard': 'T20I # 1845'},
   {'team1': 'England',
    'team2': 'Ireland',
    'winner': 'Ireland',
    'margin': '5 runs',
    'ground': 'Melbourne',
    'matchDate': 'Oct 26, 2022',
    'scorecard': 'T20I # 1846'},
   {'team1': 'Afghanistan',
    'team2': 'New Zealand',
    'winner': 'abandoned',
    'margin': '',
    'ground': 'Melbourne',
    'matchDate': 'Oct 26, 2022',
    'scorecard': 'T20I # 1846a'},
   {'team1': 'Bangladesh',
    'team2': 'South Africa',
    'winner': 'South Africa',
    'margin': '104 runs',
    'ground': 'Sydney',
    'matchDate': 'Oct 27, 2022',
    'scorecard': 'T20I # 1847'},
   {'team1': 'India',
    'team2': 'Netherlands',
    'winner': 'India',
    'margin': '56 runs',
    'ground': 'Sydney',
    'matchDate': 'Oct 27, 2022',
    'scorecard': 'T20I # 1848'},
   {'team1': 'Pakistan',
    'team2': 'Zimbabwe',
    'winner': 'Zimbabwe',
    'margin': '1 run',
    'ground': 'Perth',
    'matchDate': 'Oct 27, 2022',
    'scorecard': 'T20I # 1849'},
   {'team1': 'Afghanistan',
    'team2': 'Ireland',
    'winner': 'abandoned',
    'margin': '',
    'ground': 'Melbourne',
    'matchDate': 'Oct 28, 2022',
    'scorecard': 'T20I # 1849a'},
   {'team1': 'Australia',
    'team2': 'England',
    'winner': 'abandoned',
    'margin': '',
    'ground': 'Melbourne',
    'matchDate': 'Oct 28, 2022',
    'scorecard': 'T20I # 1849b'},
   {'team1': 'New Zealand',
    'team2': 'Sri Lanka',
    'winner': 'New Zealand',
    'margin': '65 runs',
    'ground': 'Sydney',
    'matchDate': 'Oct 29, 2022',
    'scorecard': 'T20I # 1850'},
   {'team1': 'Bangladesh',
    'team2': 'Zimbabwe',
    'winner': 'Bangladesh',
    'margin': '3 runs',
    'ground': 'Brisbane',
    'matchDate': 'Oct 30, 2022',
    'scorecard': 'T20I # 1851'},
   {'team1': 'Netherlands',
    'team2': 'Pakistan',
    'winner': 'Pakistan',
    'margin': '6 wickets',
    'ground': 'Perth',
    'matchDate': 'Oct 30, 2022',
    'scorecard': 'T20I # 1852'},
   {'team1': 'India',
    'team2': 'South Africa',
    'winner': 'South Africa',
    'margin': '5 wickets',
    'ground': 'Perth',
    'matchDate': 'Oct 30, 2022',
    'scorecard': 'T20I # 1853'},
   {'team1': 'Australia',
    'team2': 'Ireland',
    'winner': 'Australia',
    'margin': '42 runs',
    'ground': 'Brisbane',
    'matchDate': 'Oct 31, 2022',
    'scorecard': 'T20I # 1855'},
   {'team1': 'Afghanistan',
    'team2': 'Sri Lanka',
    'winner': 'Sri Lanka',
    'margin': '6 wickets',
    'ground': 'Brisbane',
    'matchDate': 'Nov 1, 2022',
    'scorecard': 'T20I # 1856'},
   {'team1': 'England',
    'team2': 'New Zealand',
    'winner': 'England',
    'margin': '20 runs',
    'ground': 'Brisbane',
    'matchDate': 'Nov 1, 2022',
    'scorecard': 'T20I # 1858'},
   {'team1': 'Netherlands',
    'team2': 'Zimbabwe',
    'winner': 'Netherlands',
    'margin': '5 wickets',
    'ground': 'Adelaide',
    'matchDate': 'Nov 2, 2022',
    'scorecard': 'T20I # 1859'},
   {'team1': 'Bangladesh',
    'team2': 'India',
    'winner': 'India',
    'margin': '5 runs',
    'ground': 'Adelaide',
    'matchDate': 'Nov 2, 2022',
    'scorecard': 'T20I # 1860'},
   {'team1': 'Pakistan',
    'team2': 'South Africa',
    'winner': 'Pakistan',
    'margin': '33 runs',
    'ground': 'Sydney',
    'matchDate': 'Nov 3, 2022',
    'scorecard': 'T20I # 1861'},
   {'team1': 'Ireland',
    'team2': 'New Zealand',
    'winner': 'New Zealand',
    'margin': '35 runs',
    'ground': 'Adelaide',
    'matchDate': 'Nov 4, 2022',
    'scorecard': 'T20I # 1862'},
   {'team1': 'Australia',
    'team2': 'Afghanistan',
    'winner': 'Australia',
    'margin': '4 runs',
    'ground': 'Adelaide',
    'matchDate': 'Nov 4, 2022',
    'scorecard': 'T20I # 1864'},
   {'team1': 'England',
    'team2': 'Sri Lanka',
    'winner': 'England',
    'margin': '4 wickets',
    'ground': 'Sydney',
    'matchDate': 'Nov 5, 2022',
    'scorecard': 'T20I # 1867'},
   {'team1': 'Netherlands',
    'team2': 'South Africa',
    'winner': 'Netherlands',
    'margin': '13 runs',
    'ground': 'Adelaide',
    'matchDate': 'Nov 6, 2022',
    'scorecard': 'T20I # 1871'},
   {'team1': 'Bangladesh',
    'team2': 'Pakistan',
    'winner': 'Pakistan',
    'margin': '5 wickets',
    'ground': 'Adelaide',
    'matchDate': 'Nov 6, 2022',
    'scorecard': 'T20I # 1872'},
   {'team1': 'India',
    'team2': 'Zimbabwe',
    'winner': 'India',
    'margin': '71 runs',
    'ground': 'Melbourne',
    'matchDate': 'Nov 6, 2022',
    'scorecard': 'T20I # 1873'},
   {'team1': 'New Zealand',
    'team2': 'Pakistan',
    'winner': 'Pakistan',
    'margin': '7 wickets',
    'ground': 'Sydney',
    'matchDate': 'Nov 9, 2022',
    'scorecard': 'T20I # 1877'},
   {'team1': 'England',
    'team2': 'India',
    'winner': 'England',
    'margin': '10 wickets',
    'ground': 'Adelaide',
    'matchDate': 'Nov 10, 2022',
    'scorecard': 'T20I # 1878'},
   {'team1': 'England',
    'team2': 'Pakistan',
    'winner': 'England',
    'margin': '5 wickets',
    'ground': 'Melbourne',
    'matchDate': 'Nov 13, 2022',
    'scorecard': 'T20I # 1879'}]}]

In [4]:
len(data)

# we can see that the data has only one element
# then further the inside dictionary also has single element 
# where our data is present

1

In [5]:
data[0]['matchSummary']    # this is our data so convert it to a dataframe

[{'team1': 'Namibia',
  'team2': 'Sri Lanka',
  'winner': 'Namibia',
  'margin': '55 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 16, 2022',
  'scorecard': 'T20I # 1823'},
 {'team1': 'Netherlands',
  'team2': 'U.A.E.',
  'winner': 'Netherlands',
  'margin': '3 wickets',
  'ground': 'Geelong',
  'matchDate': 'Oct 16, 2022',
  'scorecard': 'T20I # 1825'},
 {'team1': 'Scotland',
  'team2': 'West Indies',
  'winner': 'Scotland',
  'margin': '42 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 17, 2022',
  'scorecard': 'T20I # 1826'},
 {'team1': 'Ireland',
  'team2': 'Zimbabwe',
  'winner': 'Zimbabwe',
  'margin': '31 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 17, 2022',
  'scorecard': 'T20I # 1828'},
 {'team1': 'Namibia',
  'team2': 'Netherlands',
  'winner': 'Netherlands',
  'margin': '5 wickets',
  'ground': 'Geelong',
  'matchDate': 'Oct 18, 2022',
  'scorecard': 'T20I # 1830'},
 {'team1': 'Sri Lanka',
  'team2': 'U.A.E.',
  'winner': 'Sri Lanka',
  'margin': '79 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 18, 2022',
  'scorecard': 'T20I # 1832'},
 {'team1': 'Ireland',
  'team2': 'Scotland',
  'winner': 'Ireland',
  'margin': '6 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 19, 2022',
  'scorecard': 'T20I # 1833'},
 {'team1': 'West Indies',
  'team2': 'Zimbabwe',
  'winner': 'West Indies',
  'margin': '31 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 19, 2022',
  'scorecard': 'T20I # 1834'},
 {'team1': 'Netherlands',
  'team2': 'Sri Lanka',
  'winner': 'Sri Lanka',
  'margin': '16 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 20, 2022',
  'scorecard': 'T20I # 1835'},
 {'team1': 'Namibia',
  'team2': 'U.A.E.',
  'winner': 'U.A.E.',
  'margin': '7 runs',
  'ground': 'Geelong',
  'matchDate': 'Oct 20, 2022',
  'scorecard': 'T20I # 1836'},
 {'team1': 'Ireland',
  'team2': 'West Indies',
  'winner': 'Ireland',
  'margin': '9 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 21, 2022',
  'scorecard': 'T20I # 1837'},
 {'team1': 'Scotland',
  'team2': 'Zimbabwe',
  'winner': 'Zimbabwe',
  'margin': '5 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 21, 2022',
  'scorecard': 'T20I # 1838'},
 {'team1': 'Australia',
  'team2': 'New Zealand',
  'winner': 'New Zealand',
  'margin': '89 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 22, 2022',
  'scorecard': 'T20I # 1839'},
 {'team1': 'Afghanistan',
  'team2': 'England',
  'winner': 'England',
  'margin': '5 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 22, 2022',
  'scorecard': 'T20I # 1840'},
 {'team1': 'Ireland',
  'team2': 'Sri Lanka',
  'winner': 'Sri Lanka',
  'margin': '9 wickets',
  'ground': 'Hobart',
  'matchDate': 'Oct 23, 2022',
  'scorecard': 'T20I # 1841'},
 {'team1': 'India',
  'team2': 'Pakistan',
  'winner': 'India',
  'margin': '4 wickets',
  'ground': 'Melbourne',
  'matchDate': 'Oct 23, 2022',
  'scorecard': 'T20I # 1842'},
 {'team1': 'Bangladesh',
  'team2': 'Netherlands',
  'winner': 'Bangladesh',
  'margin': '9 runs',
  'ground': 'Hobart',
  'matchDate': 'Oct 24, 2022',
  'scorecard': 'T20I # 1843'},
 {'team1': 'South Africa',
  'team2': 'Zimbabwe',
  'winner': 'no result',
  'margin': '',
  'ground': 'Hobart',
  'matchDate': 'Oct 24, 2022',
  'scorecard': 'T20I # 1844'},
 {'team1': 'Australia',
  'team2': 'Sri Lanka',
  'winner': 'Australia',
  'margin': '7 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 25, 2022',
  'scorecard': 'T20I # 1845'},
 {'team1': 'England',
  'team2': 'Ireland',
  'winner': 'Ireland',
  'margin': '5 runs',
  'ground': 'Melbourne',
  'matchDate': 'Oct 26, 2022',
  'scorecard': 'T20I # 1846'},
 {'team1': 'Afghanistan',
  'team2': 'New Zealand',
  'winner': 'abandoned',
  'margin': '',
  'ground': 'Melbourne',
  'matchDate': 'Oct 26, 2022',
  'scorecard': 'T20I # 1846a'},
 {'team1': 'Bangladesh',
  'team2': 'South Africa',
  'winner': 'South Africa',
  'margin': '104 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 27, 2022',
  'scorecard': 'T20I # 1847'},
 {'team1': 'India',
  'team2': 'Netherlands',
  'winner': 'India',
  'margin': '56 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 27, 2022',
  'scorecard': 'T20I # 1848'},
 {'team1': 'Pakistan',
  'team2': 'Zimbabwe',
  'winner': 'Zimbabwe',
  'margin': '1 run',
  'ground': 'Perth',
  'matchDate': 'Oct 27, 2022',
  'scorecard': 'T20I # 1849'},
 {'team1': 'Afghanistan',
  'team2': 'Ireland',
  'winner': 'abandoned',
  'margin': '',
  'ground': 'Melbourne',
  'matchDate': 'Oct 28, 2022',
  'scorecard': 'T20I # 1849a'},
 {'team1': 'Australia',
  'team2': 'England',
  'winner': 'abandoned',
  'margin': '',
  'ground': 'Melbourne',
  'matchDate': 'Oct 28, 2022',
  'scorecard': 'T20I # 1849b'},
 {'team1': 'New Zealand',
  'team2': 'Sri Lanka',
  'winner': 'New Zealand',
  'margin': '65 runs',
  'ground': 'Sydney',
  'matchDate': 'Oct 29, 2022',
  'scorecard': 'T20I # 1850'},
 {'team1': 'Bangladesh',
  'team2': 'Zimbabwe',
  'winner': 'Bangladesh',
  'margin': '3 runs',
  'ground': 'Brisbane',
  'matchDate': 'Oct 30, 2022',
  'scorecard': 'T20I # 1851'},
 {'team1': 'Netherlands',
  'team2': 'Pakistan',
  'winner': 'Pakistan',
  'margin': '6 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 30, 2022',
  'scorecard': 'T20I # 1852'},
 {'team1': 'India',
  'team2': 'South Africa',
  'winner': 'South Africa',
  'margin': '5 wickets',
  'ground': 'Perth',
  'matchDate': 'Oct 30, 2022',
  'scorecard': 'T20I # 1853'},
 {'team1': 'Australia',
  'team2': 'Ireland',
  'winner': 'Australia',
  'margin': '42 runs',
  'ground': 'Brisbane',
  'matchDate': 'Oct 31, 2022',
  'scorecard': 'T20I # 1855'},
 {'team1': 'Afghanistan',
  'team2': 'Sri Lanka',
  'winner': 'Sri Lanka',
  'margin': '6 wickets',
  'ground': 'Brisbane',
  'matchDate': 'Nov 1, 2022',
  'scorecard': 'T20I # 1856'},
 {'team1': 'England',
  'team2': 'New Zealand',
  'winner': 'England',
  'margin': '20 runs',
  'ground': 'Brisbane',
  'matchDate': 'Nov 1, 2022',
  'scorecard': 'T20I # 1858'},
 {'team1': 'Netherlands',
  'team2': 'Zimbabwe',
  'winner': 'Netherlands',
  'margin': '5 wickets',
  'ground': 'Adelaide',
  'matchDate': 'Nov 2, 2022',
  'scorecard': 'T20I # 1859'},
 {'team1': 'Bangladesh',
  'team2': 'India',
  'winner': 'India',
  'margin': '5 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 2, 2022',
  'scorecard': 'T20I # 1860'},
 {'team1': 'Pakistan',
  'team2': 'South Africa',
  'winner': 'Pakistan',
  'margin': '33 runs',
  'ground': 'Sydney',
  'matchDate': 'Nov 3, 2022',
  'scorecard': 'T20I # 1861'},
 {'team1': 'Ireland',
  'team2': 'New Zealand',
  'winner': 'New Zealand',
  'margin': '35 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 4, 2022',
  'scorecard': 'T20I # 1862'},
 {'team1': 'Australia',
  'team2': 'Afghanistan',
  'winner': 'Australia',
  'margin': '4 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 4, 2022',
  'scorecard': 'T20I # 1864'},
 {'team1': 'England',
  'team2': 'Sri Lanka',
  'winner': 'England',
  'margin': '4 wickets',
  'ground': 'Sydney',
  'matchDate': 'Nov 5, 2022',
  'scorecard': 'T20I # 1867'},
 {'team1': 'Netherlands',
  'team2': 'South Africa',
  'winner': 'Netherlands',
  'margin': '13 runs',
  'ground': 'Adelaide',
  'matchDate': 'Nov 6, 2022',
  'scorecard': 'T20I # 1871'},
 {'team1': 'Bangladesh',
  'team2': 'Pakistan',
  'winner': 'Pakistan',
  'margin': '5 wickets',
  'ground': 'Adelaide',
  'matchDate': 'Nov 6, 2022',
  'scorecard': 'T20I # 1872'},
 {'team1': 'India',
  'team2': 'Zimbabwe',
  'winner': 'India',
  'margin': '71 runs',
  'ground': 'Melbourne',
  'matchDate': 'Nov 6, 2022',
  'scorecard': 'T20I # 1873'},
 {'team1': 'New Zealand',
  'team2': 'Pakistan',
  'winner': 'Pakistan',
  'margin': '7 wickets',
  'ground': 'Sydney',
  'matchDate': 'Nov 9, 2022',
  'scorecard': 'T20I # 1877'},
 {'team1': 'England',
  'team2': 'India',
  'winner': 'England',
  'margin': '10 wickets',
  'ground': 'Adelaide',
  'matchDate': 'Nov 10, 2022',
  'scorecard': 'T20I # 1878'},
 {'team1': 'England',
  'team2': 'Pakistan',
  'winner': 'England',
  'margin': '5 wickets',
  'ground': 'Melbourne',
  'matchDate': 'Nov 13, 2022',
  'scorecard': 'T20I # 1879'}]

In [6]:
df_matches = pd.DataFrame(data[0]['matchSummary'])

In [7]:
df_matches.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [8]:
df_matches.shape

(45, 7)

In [9]:
df_matches.duplicated().sum()

0

In [10]:
df_matches.isnull().sum()

team1        0
team2        0
winner       0
margin       0
ground       0
matchDate    0
scorecard    0
dtype: int64

In [11]:
# here we don't want to access the scorecard, so instead of scorecard we rename that column as match_id

df_matches.rename({'scorecard':'match_id'}, axis=1, inplace=True)
df_matches.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [12]:
df_matches.to_csv('matches_summary.csv')

#### Batting Records Dataset

In [13]:
with open('t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)
    
    all_records = []
    
    for rec in data:
        all_records.extend(rec['battingSummary'])
        
df_batting = pd.DataFrame(all_records)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [14]:
df_batting.shape

(699, 10)

In [15]:
df_batting.duplicated().sum()

0

In [16]:
df_batting.isnull().sum()

match          0
teamInnings    0
battingPos     0
batsmanName    0
dismissal      0
runs           0
balls          0
4s             0
6s             0
SR             0
dtype: int64

In [17]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: 'out' if len(x)>0 else 'not_out')

In [18]:
df_batting.drop(columns=['dismissal'], inplace=True)  # drop dismissal column
df_batting.head(20)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,12,11,1,0,109.09,out
11,Namibia Vs Sri Lanka,Sri Lanka,4,Danushka Gunathilaka,0,1,0,0,0.00,out
12,Namibia Vs Sri Lanka,Sri Lanka,5,Bhanuka Rajapaksa,20,21,2,0,95.23,out
13,Namibia Vs Sri Lanka,Sri Lanka,6,Dasun Shanaka(c),29,23,2,1,126.08,out
14,Namibia Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga de Silva,4,8,0,0,50.00,out
15,Namibia Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,5,8,0,0,62.50,out
16,Namibia Vs Sri Lanka,Sri Lanka,9,Pramod Madushan,0,0,0,0,-,out
17,Namibia Vs Sri Lanka,Sri Lanka,10,Dushmantha Chameera,8,15,0,0,53.33,out
18,Namibia Vs Sri Lanka,Sri Lanka,11,Maheesh Theekshana,11,11,0,1,100.00,not_out
19,U.A.E. Vs Netherlands,U.A.E.,1,Chirag Suri,12,20,1,0,60.00,out

In [19]:
# there are some special characters in players names

df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x : x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x : x.replace('\xa0', ''))
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,out

In [20]:
# There is no column in dataframe that uniquely identify each row in a it. so, creating match_id row.
match_id_dict = {}

for key, row in df_matches.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']

In [21]:
df_batting['match_id'] = df_batting['match'].map(match_id_dict)

df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823

In [22]:
df_batting.to_csv('batting_summary.csv')

#### bowling records

In [23]:
with open('t20_json_files/t20_wc_bowling_summary.json') as f:
    data = json.load(f)
    
    all_records = []
    
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
        
df_bowling = pd.DataFrame(all_records)
df_bowling.head( 40)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
5,Namibia Vs Sri Lanka,Namibia,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0
6,Namibia Vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0
7,Namibia Vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0
8,Namibia Vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0
9,Namibia Vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0
10,Namibia Vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0
11,U.A.E. Vs Netherlands,Netherlands,Fred Klaassen,4,0,13,2,3.25,18,0,0,3,0
12,U.A.E. Vs Netherlands,Netherlands,Tim Pringle,4,0,13,1,3.25,11,0,0,0,0
13,U.A.E. Vs Netherlands,Netherlands,Logan van Beek,2,0,19,0,9.50,5,0,2,1,0
14,U.A.E. Vs Netherlands,Netherlands,Bas de Leede,3,0,19,3,6.33,9,2,0,2,0
15,U.A.E. Vs Netherlands,Netherlands,Paul van Meekeren,4,0,21,0,5.25,11,1,0,0,0
16,U.A.E. Vs Netherlands,Netherlands,Roelof van der Merwe,3,0,19,1,6.33,7,0,1,0,0
17,U.A.E. Vs Netherlands,U.A.E.,Junaid Siddique,4,0,24,3,6.00,10,2,0,1,0
18,U.A.E. Vs Netherlands,U.A.E.,Basil Hameed,1,0,7,1,7.00,4,0,1,0,0
19,U.A.E. Vs Netherlands,U.A.E.,Aayan Afzal Khan,3,0,15,1,5.00,8,1,0,0,0
20,U.A.E. Vs Netherlands,U.A.E.,Karthik Meiyappan,4,0,22,1,5.50,11,2,0,0,0
21,U.A.E. Vs Netherlands,U.A.E.,Zahoor Khan,4,0,11,1,2.75,14,0,0,0,0
22,U.A.E. Vs Netherlands,U.A.E.,Zawar Farid,2.5,0,24,0,8.47,2,2,0,0,0
23,U.A.E. Vs Netherlands,U.A.E.,Kashif Daud,1,0,5,0,5.00,1,0,0,0,0
24,Scotland Vs West Indies,West Indies,Kyle Mayers,2,0,24,0,12.00,5,5,0,2,0
25,Scotland Vs West Indies,West Indies,Akeal Hosein,4,0,31,0,7.75,8,2,1,0,0
26,Scotland Vs West Indies,West Indies,Alzarri Joseph,4,0,28,2,7.00,9,3,0,2,0
27,Scotland Vs West Indies,West Indies,Obed McCoy,3,0,25,0,8.33,6,4,0,0,0
28,Scotland Vs West Indies,West Indies,Jason Holder,3,0,14,2,4.66,8,1,0,0,0
29,Scotland Vs West Indies,West Indies,Odean Smith,4,0,31,1,7.75,6,3,0,1,0
30,Scotland Vs West Indies,Scotland,Mark Watt,4,0,12,3,3.00,16,1,0,1,0
31,Scotland Vs West Indies,Scotland,Brad Wheal,4,0,32,2,8.00,10,4,1,0,0
32,Scotland Vs West Indies,Scotland,Josh Davey,3,0,34,1,11.33,8,4,2,1,0
33,Scotland Vs West Indies,Scotland,Safyaan Sharif,3.3,0,23,1,6.57,7,2,0,2,0
34,Scotland Vs West Indies,Scotland,Michael Leask,4,0,15,2,3.75,11,0,0,1,0
35,Zimbabwe Vs Ireland,Ireland,Josh Little,4,0,24,3,6.00,11,3,0,0,0
36,Zimbabwe Vs Ireland,Ireland,Mark Adair,4,0,39,2,9.75,6,3,1,2,0
37,Zimbabwe Vs Ireland,Ireland,Barry McCarthy,4,0,24,0,6.00,11,2,0,2,0
38,Zimbabwe Vs Ireland,Ireland,Curtis Campher,3,0,29,0,9.66,6,2,2,0,0
39,Zimbabwe Vs Ireland,Ireland,Simi Singh,3,0,31,2,10.33,5,2,2,1,0

In [24]:
df_bowling.shape

(500, 13)

In [25]:
df_bowling.isnull().sum()

match          0
bowlingTeam    0
bowlerName     0
overs          0
maiden         0
runs           0
wickets        0
economy        0
0s             0
4s             0
6s             0
wides          0
noBalls        0
dtype: int64

In [26]:
df_bowling.duplicated().sum()

0

In [27]:
df_bowling['match_id'] = df_bowling['match'].map(match_id_dict)

df_bowling.head(40)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
5,Namibia Vs Sri Lanka,Namibia,Gerhard Erasmus,1,0,8,0,8.00,1,1,0,0,0,T20I # 1823
6,Namibia Vs Sri Lanka,Namibia,David Wiese,4,0,16,2,4.00,13,1,0,0,0,T20I # 1823
7,Namibia Vs Sri Lanka,Namibia,Bernard Scholtz,4,0,18,2,4.50,10,1,0,0,0,T20I # 1823
8,Namibia Vs Sri Lanka,Namibia,Ben Shikongo,3,1,22,2,7.33,6,3,0,0,0,T20I # 1823
9,Namibia Vs Sri Lanka,Namibia,JJ Smit,3,0,16,1,5.33,7,0,0,1,0,T20I # 1823
10,Namibia Vs Sri Lanka,Namibia,Jan Frylinck,4,0,26,2,6.50,10,0,2,1,0,T20I # 1823
11,U.A.E. Vs Netherlands,Netherlands,Fred Klaassen,4,0,13,2,3.25,18,0,0,3,0,T20I # 1825
12,U.A.E. Vs Netherlands,Netherlands,Tim Pringle,4,0,13,1,3.25,11,0,0,0,0,T20I # 1825
13,U.A.E. Vs Netherlands,Netherlands,Logan van Beek,2,0,19,0,9.50,5,0,2,1,0,T20I # 1825
14,U.A.E. Vs Netherlands,Netherlands,Bas de Leede,3,0,19,3,6.33,9,2,0,2,0,T20I # 1825
15,U.A.E. Vs Netherlands,Netherlands,Paul van Meekeren,4,0,21,0,5.25,11,1,0,0,0,T20I # 1825
16,U.A.E. Vs Netherlands,Netherlands,Roelof van der Merwe,3,0,19,1,6.33,7,0,1,0,0,T20I # 1825
17,U.A.E. Vs Netherlands,U.A.E.,Junaid Siddique,4,0,24,3,6.00,10,2,0,1,0,T20I # 1825
18,U.A.E. Vs Netherlands,U.A.E.,Basil Hameed,1,0,7,1,7.00,4,0,1,0,0,T20I # 1825
19,U.A.E. Vs Netherlands,U.A.E.,Aayan Afzal Khan,3,0,15,1,5.00,8,1,0,0,0,T20I # 1825
20,U.A.E. Vs Netherlands,U.A.E.,Karthik Meiyappan,4,0,22,1,5.50,11,2,0,0,0,T20I # 1825
21,U.A.E. Vs Netherlands,U.A.E.,Zahoor Khan,4,0,11,1,2.75,14,0,0,0,0,T20I # 1825
22,U.A.E. Vs Netherlands,U.A.E.,Zawar Farid,2.5,0,24,0,8.47,2,2,0,0,0,T20I # 1825
23,U.A.E. Vs Netherlands,U.A.E.,Kashif Daud,1,0,5,0,5.00,1,0,0,0,0,T20I # 1825
24,Scotland Vs West Indies,West Indies,Kyle Mayers,2,0,24,0,12.00,5,5,0,2,0,T20I # 1826
25,Scotland Vs West Indies,West Indies,Akeal Hosein,4,0,31,0,7.75,8,2,1,0,0,T20I # 1826
26,Scotland Vs West Indies,West Indies,Alzarri Joseph,4,0,28,2,7.00,9,3,0,2,0,T20I # 1826
27,Scotland Vs West Indies,West Indies,Obed McCoy,3,0,25,0,8.33,6,4,0,0,0,T20I # 1826
28,Scotland Vs West Indies,West Indies,Jason Holder,3,0,14,2,4.66,8,1,0,0,0,T20I # 1826
29,Scotland Vs West Indies,West Indies,Odean Smith,4,0,31,1,7.75,6,3,0,1,0,T20I # 1826
30,Scotland Vs West Indies,Scotland,Mark Watt,4,0,12,3,3.00,16,1,0,1,0,T20I # 1826
31,Scotland Vs West Indies,Scotland,Brad Wheal,4,0,32,2,8.00,10,4,1,0,0,T20I # 1826
32,Scotland Vs West Indies,Scotland,Josh Davey,3,0,34,1,11.33,8,4,2,1,0,T20I # 1826
33,Scotland Vs West Indies,Scotland,Safyaan Sharif,3.3,0,23,1,6.57,7,2,0,2,0,T20I # 1826
34,Scotland Vs West Indies,Scotland,Michael Leask,4,0,15,2,3.75,11,0,0,1,0,T20I # 1826
35,Zimbabwe Vs Ireland,Ireland,Josh Little,4,0,24,3,6.00,11,3,0,0,0,T20I # 1828
36,Zimbabwe Vs Ireland,Ireland,Mark Adair,4,0,39,2,9.75,6,3,1,2,0,T20I # 1828
37,Zimbabwe Vs Ireland,Ireland,Barry McCarthy,4,0,24,0,6.00,11,2,0,2,0,T20I # 1828
38,Zimbabwe Vs Ireland,Ireland,Curtis Campher,3,0,29,0,9.66,6,2,2,0,0,T20I # 1828
39,Zimbabwe Vs Ireland,Ireland,Simi Singh,3,0,31,2,10.33,5,2,2,1,0,T20I # 1828

In [28]:
df_bowling.to_csv('bowling_summary.csv')

#### player records

In [29]:
with open('t20_json_files/t20_wc_player_info.json') as f:
    data = json.load(f)
    
df_players = pd.DataFrame(data)
df_players.sample(10)

,name,team,battingStyle,bowlingStyle,playingRole,description
151,Mustafizur Rahman,Bangladesh,Left hand Bat,Left arm Fast medium,Bowler,Mustafizur Rahman is a left-arm pace bowler wh...
24,Aaron Finch(c),Australia,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"A solidly built, aggressive batter from a coun..."
103,Logan van Beek,Netherlands,Right hand Bat,Right arm Medium fast,Bowler,Logan van Beek is an allrounder in more ways t...
57,Hazratullah Zazai,Afghanistan,Left hand Bat,Slow Left arm Orthodox,Opening Batter,Afghanistan's ascent up the global rankings fr...
25,Mitchell Marsh,Australia,Right hand Bat,Right arm Medium,Allrounder,Part of one of the most well-known family name...
138,Naseem Shah,Pakistan,Right hand Bat,Right arm Fast,Bowler,Zarai Taraqiati Bank Limited may not be an est...
66,Fareed Ahmad,Afghanistan,Left hand Bat,Left arm Fast medium,Bowler,
193,Rilee Rossouw,South Africa,Left hand Bat,Right arm Offbreak,Top order Batter,A stylish top-order player with an elegant and...
82,Chundangapoyil Rizwan(c),U.A.E.,Right hand Bat,Legbreak Googly,Middle order Batter,
61,Najibullah Zadran,Afghanistan,Left hand Bat,Right arm Offbreak,Middle order Batter,Najibullah Zadran packs a punch with his belli...

In [30]:
df_players.shape

(219, 6)

In [31]:
# there may be some batsman who never bowled balls so that's why there bowling style is null
# description column is not that important for us. just ignore it we will drop it.
df_players.eq('').sum()

name             0
team             0
battingStyle     0
bowlingStyle    20
playingRole      0
description     68
dtype: int64

In [32]:
df_players.drop('description', axis=1, inplace=True)

In [33]:
df_players.to_csv('players.csv')